@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
$body-color: #222831;

body {
  margin: 0 auto;
  width: 1280px;
  color: $body-color;
  font-family: 'Amatic SC';
  font-weight: 700;
  background: url(./assets/photo-1437419764061-2473afe69fc2.jpg) no-repeat center center fixed;
  background-size: cover;
}

textarea:focus {
  outline: none;
}

#title {
  text-align: center;
  color:#222831;
  text-shadow: 1px -1px #FCAA67;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 50px;
  width: 400px;
  border-radius: 20px;
  background-color: rgb(210, 210, 210, 0.3);
}

#text-area {
  resize: vertical;
  margin-top: 10px;
  display: block;
  border: none;
  padding: 5px;
  width: 1270px;
  height: 45vh;
  border-radius: 5px;
  background-color: rgb(210, 210, 210, 0.6);
  font-size: 36px;
}

#keyboard {
  margin-top: 10px;
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color:#EEEEEE;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(210, 210, 210, 0.6);
}

#infoLeft {
  a {
    text-decoration: none;
    color: $body-color;
    transition: all 1s;
    &:hover {
      color:#4F8A8B
    }
  }
}

#infoRight {
  margin: 0 auto;
  img {
    width: 20px;
    transition: all 1s;
    &:hover {
      width: 25px;
    }
  }
}

#info {
  text-align: center;
  color:#222831;
  text-shadow: 1px -1px #FCAA67;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 30px;
  border-radius: 20px;
  background-color: rgb(210, 210, 210, 0.3);
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

#keyboard-keys {
  display: flex;
  flex-wrap: wrap;
  width: 1042px;
}

.key {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 3px solid #222831;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBD46D;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    background-color: #7B886B;
  }
}

.active {
  border-radius: 100%;
  background-color:#4F8A8B !important;
}

#Backspace, #Tab, #Delete, #CapsLock, #Enter, #ShiftLeft, #ShiftRight, #ControlRight, #ControlLeft, #MetaLeft, #AltLeft, #AltRight, #ArrowLeft, #ArrowRight, #ArrowUp, #ArrowDown {
  background-color: #FCAA67;
  &:hover {
    cursor: pointer;
    background-color: #7B886B;
  }
}

#Backspace {
  width: 140px;
}

#Tab {
  width: 61px;
}

#Delete {
  width: 61px;
}

#CapsLock {
  width : 100px;
}

#Enter {
  width: 158px;
}

#ShiftLeft {
  width: 129px;
}

#ShiftRight {
  width: 129px;
}

#Space {
  width: 469px;
}

#ControlRight {
  width: 61px;
}
