$body-color: #222831;

body {
  margin: 0 auto;
  width: 1280px;
  color: $body-color;
}

#title {
  text-align: center;
  color:#222831;
  height: 5vh;
}

#text-area {
  display: block;
  border: 2px solid black;
  padding: 5px;
  width: 99%;
  height: 45vh;
}

#keyboard {
  margin-top: 10px;
  display: flex;
  border: 2px solid black;
  padding: 5px;
  background-color:#EEEEEE;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#keyboard-keys {
  display: flex;
  flex-wrap: wrap;
  width: 1042px;
}

.key {
  font-size: 16px;
  width: 50px;
  height: 50px;
  border: 3px solid #222831;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBD46D;
  transition: all 1s;
}

.active {
  background-color:#4F8A8B !important;
}

#Backspace, #Tab, #Delete, #CapsLock, #Enter, #ShiftLeft, #ShiftRight, #ControlRight, #ControlLeft, #MetaLeft, #AltLeft, #AltRight, #ArrowLeft, #ArrowRight, #ArrowUp, #ArrowDown {
  background-color: #FCAA67;
}

#Backspace {
  width: 140px;
}

#Tab {
  width: 61px;
}

#Delete {
  width: 61px;
}

#CapsLock {
  width : 100px;
}

#Enter {
  width: 158px;
}

#ShiftLeft {
  width: 129px;
}

#ShiftRight {
  width: 129px;
}

#Space {
  width: 469px;
}

#ControlRight {
  width: 61px;
}